/wp-content/themes/assignment/assets/js/bootstrap.min.js
/wp-content/themes/assignment/assets/js/_ooredoo_assets_js_jquery.js
/wp-content/themes/assignment/assets/js/bootstrap.js
/wp-content/themes/assignment/assets/css/_ooredoo_assets_css_bootstrap.min.css
/wp-content/themes/assignment/assets/css/_ooredoo_assets_css_font-awesome.min.css
/wp-content/themes/assignment/assets/css/_ooredoo_assets_css_swiper.css
